# Classification of Organisms

![DNA Tree](https://github.com/garrettsutula/coding-in-comprehensive-science-1/raw/develop/Images/5ff06fff9e30a3f7410b3da79dd4b399.jpg)

## <span style="color:red">Step 1: Click on the "Save Icon". If you have a problem and need to completely restart, then click "File" and "Revert to Checkpoint" to reset.</span> 

### Importing the Data

>The next 2 blocks of code imports the data that we will need to examine the characteristics  of many different organisms. You can begin to execute the cells using <b> Shift + Enter </b> to import the data set and continue.

# Sorting Organism by One Characteristic

## Code Box 1

In [2]:
# Run this box and the one below to import the data sheet. 
# Import modules that contain functions we need
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

## Code Box 2

In [5]:
# Our data is the organisms table and is defined as the word 'key'.
# key is set equal to the file that is read by pandas.
# The file must be in the same directory as the program.

#If the data is being pulled locally use the code that is commented out below
#key = pd.read_csv("Classification of Organisms- Jupyter Data.csv")

key = pd.read_csv("https://github.com/garrettsutula/OCPS-grade-6/raw/develop/data/classification.csv")

# This sets Organism as the index instead of numbers
#key = data.set_index("organism")

## Code Box 3

In [10]:
# Animal options in data set
# Displays all row titles as an array
key.organism

0                        worm
1                         bee
2                 black widow
3                   butterfly
4                   dragonfly
5                        flea
6                         fly
7                    mosquito
8                        moth
9                    scorpion
10                       wasp
11                      yeast
12                  death cap
13             white mushroom
14                       moss
15                     badger
16                        bat
17                       bear
18                     beaver
19                     bobcat
20                        cat
21                    chicken
22                 chimpanzee
23                   chipmunk
24                  clownfish
25                        cow
26                  crocodile
27                       deer
28                        dog
29                    dolphin
               ...
48                  porcupine
49                     rabbit
50                    raccoon
51                rattlesnake
52                  red panda
53                 rhinoceros
54                 salamander
55                       seal
56                      shark
57                      skunk
58                      sloth
59                   squirrel
60                  tree frog
61                      tucan
62                     turkey
63                     turtle
64                    vulture
65                     weasel
66                      whale
67                       wolf
68                 woodpecker
69                  pine tree
70                 poison ivy
71      staphylococcus aureus
72                      snail
73                   oak tree
74                  palm tree
75                       mold
76     streptococcus pyogenes
77    halobacterium salinarum
Name: organism, Length: 78, dtype: object

## Code Box 4

In [7]:
# Conditions/Questions for finding the correct animal
# Displays all column titles as an array
key.columns

Index(['organism', 'eukaryotic', 'prokaryotic', 'domain', 'kingdom', 'phylum',
       'class', 'order', 'chloroplast', 'autotroph', 'multicellular',
       'extreme'],
      dtype='object')

## Code Box 5

In [18]:
key[(key['kingdom'] == 'eubacteria')]

,organism,eukaryotic,prokaryotic,domain,kingdom,phylum,class,order,chloroplast,autotroph,multicellular,extreme
71,staphylococcus aureus,no,yes,bacteria,eubacteria,firmicutes,bacilli,bacillales,no,no,no,no
76,streptococcus pyogenes,no,yes,bacteria,eubacteria,firmicutes,bacilli,lactobacillales,no,no,no,no

## Code Box 6

In [10]:

key[
#physical characteristics
    (key['extreme'] == 'no') & \
        
#feeding characteristics
    
    #chloroplasts are used in the process of making food using energy from sunlight
    (key['chloroplast'] == 'yes') & \
    
    #autotrophs are organisms that generate their own food inside themselves
    (key['autotroph'] == 'yes') & \
    
#levels of organization
    (key['domain'] == 'eukarya') & \
    (key['kingdom'] == 'plantae') & \
   
#cell type     
    (key['multicellular'] == 'yes') & \
    (key['eukaryotic'] == 'yes') & \
    (key['prokaryotic'] == 'no')
    ]

,organism,eukaryotic,prokaryotic,domain,kingdom,phylum,class,order,chloroplast,autotroph,multicellular,extreme
14,moss,yes,no,eukarya,plantae,bryophyta,polytrichaceae,bromeliales,yes,yes,yes,no
69,pine tree,yes,no,eukarya,plantae,coniferaphya,pinopsida,pinales,yes,yes,yes,no
70,poison ivy,yes,no,eukarya,plantae,embryophyta,magnoliopsida�,sapindales,yes,yes,yes,no
73,oak tree,yes,no,eukarya,plantae,tracheophyta,magnoliopsida,fagales,yes,yes,yes,no
74,palm tree,yes,no,eukarya,plantae,tracheophyta,liliopsida,arecales,yes,yes,yes,no