# Weather and Climate
This activity uses weather data averaged over 20-30 years from [NASA Education](https://pmm.nasa.gov/education/) and [U.S.ClimateData.com](https://www.usclimatedata.com/climate/orlando/florida/united-states/usfl1021/2017/1).

To get started,
- First, click the disc icon at the top to save the notebook. That makes it easier to start over later if you need to.
- Go to the menu bar above and select **Kernel > Restart & Run All**.
- You won't hurt anything by experimenting. If you break it, go to **File > Revert to checkpoint** to start over.

In [ ]:
# import the software packages needed
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
inline_rc = dict(mpl.rcParams)

# Orlando average precipitation and temperature, 1981-2010

In [ ]:
# importing the data
orlando = pd.read_csv('orlando_data.csv', header=1)
orlando

   Month  Avg Precipitation  Avg Temperature
0    Jan               70.1             15.8
1    Feb               71.9             17.2
2    Mar               96.0             19.4
3    Apr               63.0             22.2
4    May               84.1             25.6
5    Jun              222.0             27.8
6    Jul              180.1             28.9
7    Aug              198.9             28.9
8    Sep              152.9             27.5
9    Oct               84.1             24.4
10   Nov               61.0             20.6
11   Dec               67.1             17.2

In [ ]:
ax = orlando.plot.bar(x='Month', y='Avg Precipitation', color='b')
orlando.plot.line(x='Month', y='Avg Temperature', color='k', \
                  linestyle='-', marker='o', ax=ax, secondary_y=True);
ax.set_title("Orlando")
ax.set_ylabel('Precipication (mm)')
ax.set_ylim(0,400)
ax.right_ax.set_ylabel('Temperature (deg C)')
ax.right_ax.set_ylim(0,40)
ax.legend(loc='upper left')
ax.right_ax.legend(loc='upper right')
ax.grid(axis='y')

# New Orleans average precipitation and temperature, 1981-2010

In [ ]:
# importing the data
nola = pd.read_csv('NOLA_data.csv', header=1)
nola

In [ ]:
ax = nola.plot.bar(x='Month', y='Avg Precipitation', color='b')
nola.plot.line(x='Month', y='Avg Temperature', color='k', \
                  linestyle='-', marker='o', ax=ax, secondary_y=True);
ax.set_title("New Orleans")
ax.set_ylabel('Precipication (mm)')
ax.set_ylim(0,400)
ax.right_ax.set_ylabel('Temperature (deg C)')
ax.right_ax.set_ylim(0,40)
ax.legend(loc='upper left')
ax.right_ax.legend(loc='upper right')
ax.grid(axis='y')

# Orlando daily weather, December 2015

In [ ]:
# importing the data
daily = pd.read_csv('orlando_weather.csv', header=1)
daily

In [ ]:
ax = daily.plot.line(x='Date', y='High', linestyle='-', marker='o', color='r')
daily.plot.line(x='Date', y='Low', color='b', linestyle='-', marker='o', ax=ax);

ax.set_title("Orlando temperature, December 2015")
ax.set_ylabel('Temperature (deg C)')
ax.grid(axis='y')